<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.numad21su.attention">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Attention">
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".WelcomeLogin"
            android:exported="true" />
        <activity android:name=".QuizScreen" />
        <activity android:name=".LiveClassDiscussionActivity" />
        <activity android:name=".QuizResults"/>
        <activity android:name=".AttendanceActivity"/>
        <activity android:name=".InClass"/>
        <activity android:name=".QuizManager"/>
        <activity android:name=".QuizEditor"/>
        <activity android:name=".QuestionEditor"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
